/**
 * Fonts
 */

html, body, h1, h2, h3, h4, p, a {
  font-family: sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
}

body, p {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

/**
 * Header
 */

.header {
  background-color: #f4f4f4;
}

.header-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  height: 40vh;
  max-width: 1020px;
}

/**
 * Header-about
 */
.header-about {}
.header-about > h1 {
  color: #000000;
  font-size: 1.5rem;
}
.header-about > h2 {
  color: #000000;
  font-size: 1rem;
}

/**
 * Header-contact
 */
.header-contact {
  color: #000000;
}

/**
 * Main
 */
.main-break {
  width: 100vw;
  border-top: #f4f4f4 1px solid;
}
.section-base {
  max-width: 1020px;
  margin: 36px auto;
  padding: 5rem 0 5rem 0;
}
.section-title {
  font-size: 1rem;
}

/**
 * Section: main-header
 */
.section-header {}
.section-header-text {
  font-size: 3rem;
  line-height: 3.5rem;
}

/**
 * Section: work
 */
.section-work {}
